<div id="hole-page">

  {% load static %}
  {% load compress %}
  
  <!DOCTYPE html>
  <!--
  This is a starter template page. Use this page to start your new project from
  scratch. This page gets rid of all links and provides the needed markup only.
  -->
  <html lang="en">
    <head>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1" />
      <title>PHARMA</title>
  
      <!-- Google Font: Source Sans Pro -->
      <link
        rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback"
      />
  
      
      {% block css %}
        
      {% endblock css %}
    </head>
    <style>
      li>span {
        cursor: pointer;
      }
    </style>
    <body class="hold-transition sidebar-mini">
      <div class="wrapper" id="content-wrapper">
        {% include "components/navbar.html" %}
        {% include "components/sidebar.html" %}
        {% block content %} {% endblock %}
        {% include "components/right_sidebar.html" %}
        {% include "components/footer.html" %}
      </div>
      <!-- ./wrapper -->
  
      {% block js %}
        
      {% endblock  %}

      
      {% block inlinejs %}
        <script>
            document.body.addEventListener('htmx:configRequest', (e) => {
                e.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
            })
            // catch moseover event on image
            $(".image, .upload-btn").mouseenter(function (e) {
              $(".upload-btn").removeClass("invisible")
              $(".upload-btn").addClass("visible")
            })
            
            $(".image, .upload-btn").mouseleave(function (e) {
              $(".upload-btn").removeClass("visible")
              $(".upload-btn").addClass("invisible")
            })
            
            // trigger image selection
            $(".upload-btn").click(function (e) {
              console.log('clicked')
              $("#id_picture").click()
            })
            
            // image previw on profile 
            $("#id_picture").change(function (e) {
              if (e.target.files.length > 0) {
                let src = URL.createObjectURL(e.target.files[0])
                let preview = document.getElementById("profile-image")
                preview.src = src
                preview.style.display = "block"
              }
            })
          </script>
      {% endblock inlinejs %}
        
      
      {% compress js inline %}
      {% endcompress %}
        
    </body>
  </html>
</div>
